<h3>{{ leyenda }}</h3>

<div class="input-group">
    <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)"><i class="mdi mdi-minus"></i></button>
  </span>
    <!-- onchanges es la funcion y ($event) el numero nuevo -->
    <!-- // (#txtprogress) ViewChild para resolver el problema de barras progress de que se actualice segun la que se usa -->
    <input #txtProgress type="number" class="form-control" name="progreso" [(ngModel)]="progreso" (ngModelChange)="onChanges($event)" min="1" max="100">
    <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="cambiarValor(+5)"><i class="mdi mdi-plus"></i></button>
  </span>
</div>